*{
	outline:none;
}
html{
	height: 100%;
	width: 100%;
	margin:  0;
	padding:  0;
}
body{
	min-height: 100%;
	min-width: 100%;
	margin:  0;
	padding:  0;
	background-color:  rgba(128, 128, 128, 0.03);
	font-family:  roboto,arial,sans-serif;
	position:  relative;
}
.loadingBar{
    height: 3px;
    background: #2196F3;
    display: none;
    position:  absolute;
    left: 0px;
    right:  0px;
    width: 0%;
    margin:  auto;
}
.index_Holder{
    width:  100%;
    display:  table;
    position:  absolute;
    top: 0;
    bottom:  0;
    margin:  auto;
}
.index_SignIn_holder{
	width:  450px;
	height: auto;
	margin:  auto;
	box-shadow:  0 2px 2px 0 rgba(0,0,0,0.14),
				0 3px 1px -2px rgba(0,0,0,0.12),
				0 1px 5px 0 rgba(0,0,0,0.2);
	background-color: #ffffff;
	overflow: hidden;
	position:  relative;
}
.index_SignIn_holder .padder{
    padding: 40px;
    margin-bottom:  0;
}
.index_LoginSection{
	height: 55px;
	margin-bottom:  35px;
	overflow:  hidden;
}
.index_SignIn_holder div{
    margin-bottom:  35px;
}
.index_SignIn_holder h3{
    padding-bottom: 0;
    padding-top: 16px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3333;
    margin-bottom: 0;
    margin-top: 0;
}
.index_SignIn_holder p{
    margin: 5px 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4286;
    color: #444444;
}
.login_ErrorText{
    color: #F44336 !important;
    padding:  5px 0px;
    display:  none;
}
.index_SignIn_holder span{
    font-size: 14px;
    color: #757575;
    cursor:  default;
}
.index_SignIn_holder input[type="text"],
.index_SignIn_holder input[type="password"]{transition:padding .2s;flex-grow: 1;flex-shrink: 1;background-color: transparent;border: none;display: block;font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;height: 24px;line-height: 24px;margin: 0;min-width: 0%;outline: none;padding: 0;z-index: 0;border-bottom: 1px solid rgba(0,0,0,0.12);width:  100%;color: rgb(68, 68, 68);}
.index_SignIn_holder input[type="text"]:focus,
.index_SignIn_holder input[type="password"]:focus{
	padding:5px 0px;
	border-bottom:1px solid rgba(128, 128, 128, 0.69);
	color:black;

}
.index_SignIn_holder a{
	    font-weight: 400;
	    text-transform: none;
	    text-decoration:  none;
	    color:  #4285f4;
	    border: 0;
	    border-radius: 3px;
	    cursor: pointer;
	    display: inline-block;
	    outline: none;
	    overflow: hidden;
	    position: relative;
	    -webkit-tap-highlight-color: transparent;
	    z-index: 0;
	    font-size:  14px;
	    padding:3px 0px;
	    background:transparent;
	    transition:  .3s;
}
.index_SignIn_holder a:focus{
	padding:3px 5px;
	background:rgba(66,133,244,0.251)
}
.index_SignIn_holder input[type="submit"]{
    display:block;
    border: 1px solid #4285f4;
    background-color:  #4285f4;
    padding:  8px 16px;
    width: 98px;
    border-radius:  3px;
    color: #ffffffeb;
    font-size: 14px;
    font-weight: 600;
    -webkit-tap-highlight-color: transparent;
    direction: ltr;
    cursor:  pointer;
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    transition:.2s;
    margin: auto 0px auto auto;
}
.index_SignIn_holder input[type="submit"]:active{
	box-shadow:0px 2px 10px rgba(0,0,0,0.54);
	background-color:#325cc7;
	border:1px solid #325cc7;
}
.index_SignIn_holder input[type="submit"]:disabled{
	box-shadow:0px 2px 10px rgba(0,0,0,0.54);
	background-color:#757575;
	border:1px solid #757575;
}

.top_header{
    position:  absolute;
    display:  block;
    width:  100%;
    height: 65px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
    z-index:  9;
    background: #fbfbfb;
  }
.left_menu{
	width: 205px;
	background: #fbfbfb;
	z-index: 8;
	position:  absolute;
	top: 64px;
	left:  0;
	bottom:  0;
	box-shadow: 1px 0px 2px 0 rgba(0,0,0,0.14);
}
.main_Holder{
    max-width: 1440px;
    position:  absolute;
    left: 215px;
    top: 75px;
    right:  10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.14);
}
.topHeader_title{padding-left:  15px;padding-bottom: 0;padding-top: 16px;font-size: 24px;font-weight: 400;line-height: 1.3333;margin-bottom: 0;margin-top: 0;color: #2196F3;}
.left_menuItem{
	position:relative;
    display:  block;
    text-decoration:  none;
    padding: 20px 15px;
    color: #607D8B;
    box-shadow: 0px 2px 0px 0 rgba(0, 0, 0, 0.04);
	transition:  .3s;
}
.left_menuItem span{
	position:absolute;
	top:0;
	bottom:  0;
	left:  0;
	background: #2196F3;
	z-index: -1;
	width: 0%;
	transition: .3s;
}
.left_menuItem:hover{
	color:white;
}
.left_menuItem:hover span{
	width:100%
}
.leftMenuItem_child{
    box-shadow:  0px 2px 0px 0 rgba(0, 0, 0, 0.04);
    overflow:  hidden;
    display: block;
    height:  0px;
}
.leftMenuItem_child a{
	display: block;
	text-decoration: none;
	margin: 0px 0px 0px 30px;
	padding: 15px 5px;
	color: #607D8B;
	font-size:  14px;
	border-bottom: 1px solid #f1f1f1;
	border-left: 1px solid #f1f1f1;
	transition:.3s;
}
.leftMenuItem_child a:hover{
	color:#000;
	background-color:rgba(241, 241, 241, 0.76);
}
.main_HolderTitle{
    margin:  0px;
    padding:  15px;
    color: #2196F3;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3333;
}
.mainHolder_itemHolder{
    padding:  15px;
    /* text-align:  center; */
}
.mainHolder_element{
    display:  inline-block;
    width: 40%;
    margin: 0px 25px;
    text-align:  left;
    padding:  15px 0px;
    border-bottom:  1px solid #f1f1f1;
}
.mainHolder_elementTitle{
    display:  block;
    font-size:  14px;
    font-weight: 400;
    color: gray;
}
.mainHolder_elementDate{
    width:  175px;
    height: 21px;
    padding: 3px 5px;
    font-size: 16px;
    font-weight: 400;
}
.mainHolder_elementHour{
    width: 45px;
    height:  21px;
    padding: 3px 5px;
    font-size: 16px;
    text-align:center;
    font-weight:400;
}
.mainHolder_elementTimePoints{}
.mainHolder_elementPatients{
    padding: 3px;
    width: 189px;
    height: 31px;
}
.mainHolder_elementPatients option{
	font-size: 15px;
}
.mainHolder_elementNewPatientButton{display: block;border: 1px solid #4285f4;background-color: #4285f4;padding: 8px 16px;width: 185px;border-radius: 3px;color: #ffffffeb;font-size: 14px;font-weight: 400;-webkit-tap-highlight-color: transparent;direction: ltr;cursor: pointer;box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);transition: .2s;}
.mainHolder_elementNewPatientButton:active{
	box-shadow:0px 2px 10px rgba(0,0,0,0.54);
	background-color:#325cc7;
	border:1px solid #325cc7;
}
.mainHolder_elementComment{
    width: 95%;
    height: 205px;
    resize: none;
    font-weight:  400;
    font-size:  18px;
    padding:  5px;
}
.mainHolder_buttonHolder{
    display:  block;
    text-align:  center;
}
.mainHolder_buttonHolder button{
    display: inline-block;
    padding: 8px 16px;
    min-width: 135px;
    border-radius: 3px;
    color: #ffffffeb;
    font-size: 14px;
    font-weight: 400;
    -webkit-tap-highlight-color: transparent;
    direction: ltr;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    transition: .2s;
    margin:0px 5px;
}
.buttonHolder_SaveButton{
	background-color:#4CAF50;
	border:1px solid #4caf50;
}
.buttonHolder_SaveButton:active{	
	box-shadow:0px 2px 10px rgba(0,0,0,0.54);
	background-color:#388E3C;
	border:1px solid #388E3C;
}
.buttonHolder_DiscardButton{
	background-color:#F44336;
	border:1px solid #F44336;
}
.buttonHolder_DiscardButton:active{
	box-shadow:0px 2px 10px rgba(0,0,0,0.54);
	background-color:#D32F2F;
	border:1px solid #D32F2F;
}
.buttonHolder_SuccessfulButton{background-color: #007eff;border: 1px solid #007eff;}
.buttonHolder_SuccessfulButton:active{
    background-color: #0060c1;
    border: 1px solid #0060c1;
}
.mainHolder_ScheduleHolder{margin: 5px 15px;background:  white;padding: 15px 7.5px;cursor:  pointer;}

.mainHolder_ScheduleHolder:last-child{margin-bottom:25px;cursor: pointer;}
.scheduleHolderTitle{
    margin:  0;
    font-weight:  400;
    font-size:  18px;
    color: gray;
}
.shceduleHolderDateTime{
    padding:  0px 7.5px;
    /* text-align:  right; */
}
.scheduleHolderDate{
    font-size:  13px;
    font-weight:  400;
    padding-right: 10px;
    color:  gray;
}
.scheduleHolderTime{
    color: #2196f3;
}
.scheduleHolderComment{
    margin:  0;
    font-weight:  400;
    color:  gray;
    font-size:  14px;
    padding:  3px 7.5px;
}



/*Datepicker*/

#ui-datepicker-div{
    background: white;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.18);
    border: 1px solid #4CAF50;
    margin: 0px 10px;
    width: auto;
    max-width: 90%;
    display:  none;
}
.ui-corner-all{
	background: #4CAF50;
    color: white;
    text-align:center;
}
.ui-datepicker-prev{
	display:inline-block;
	width:49%;
	text-align:center;
	border-bottom:1px solid white;
	cursor:pointer;
	transition:.2s;
}
.ui-datepicker-next{
	display:inline-block;
	width:49%;
	text-align:center;
	border-left:1px solid white;
	border-bottom:1px solid white;
	cursor:pointer;
	transition:.2s;
}
.ui-datepicker-prev:hover{
	background:rgba(255, 255, 255, 0.2);
}
.ui-datepicker-next:hover{
	background:rgba(255, 255, 255, 0.2);
}
.ui-datepicker-title{
	padding:5px;
}
.ui-datepicker-week-end{
	/* color:gray; */
}
.ui-datepicker-calendar{
	width:100%;
	text-align:center;
}
.ui-datepicker-calendar thead:first-child{
	color:#4CAF50;
}

.ui-datepicker-calendar tbody td a{
	border: 1px solid #4CAF50;
	width:30px;
	padding:6px 0px;
	display:inline-block;
	text-decoration:none;
	color: #4CAF50;
	font-weight:  400;
	transition:.2s;
	background: rgba(63, 180, 162, 0.02);
	text-shadow: 0px 0px 20px white;
	font-size:14px;
}
.ui-datepicker-calendar tbody a:hover{
	background:#4CAF50;
	color:white;
}

/* /Datepicker */

/*
Mobile - Height
*/
@media screen and(max-height:608px){
	.index_Holder{
		position:relative;
		margin:25px auto;
	}
}

/*
Mobile - Width
*/
@media screen and (max-width:480px){
	.index_Holder{position:  relative;display:  block;margin:0px;}
	.index_SignIn_holder{width:  100%;box-shadow:  none;}
	.index_SignIn_holder .padder{padding: 40px 20px;width:  auto;}
	.index_SignIn_holder div{width: 100%;}
	.index_SignIn_holder h3{width:  100%;}
	.index_SignIn_holder p{width:  100%;}
}



